# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

artifacts/
docker/artifacts
docker/go-pipeline

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

*.log
*/*.log
.idea
demo-go-pipeline
.tags
.vscode
debug
*.cover
*.xml
*.coverprofile
*.cover
haproxy_out
crap2/
.DS_Store
*.out
vendor/
.vscode